html {
  height: 250%;
  text-rendering:geometricPrecision;
}

body {
  
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: linear-gradient(rgb(123, 123, 246), rgb(149, 206, 250));*/
  /*background-image: radial-gradient(rgb(0, 17, 209), rgb(7, 163, 247));*/
  background-image: linear-gradient(rgb(48, 85, 250), rgb(39, 123, 240), rgb(0, 59, 223));
  color: white;
}
a{
  margin-top: 1.2%;
  width: 10%;
}
img{
  margin-bottom: 0;
  border:0px solid black;
  filter: invert(1);
  width: 100%;
  image-rendering:optimizeQuality;
  box-shadow: 0px 0px 20px white;
}
#miniFlex {
  width: 100%;
  display: flex;
  justify-content: center;
}
.fuss {
  margin-bottom: auto;
  border:none;
  filter: none;
  width: 10%;
  image-rendering:optimizeQuality;
  box-shadow: none;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.445);
  border-radius: 5px;
  background-color: rgba(146, 193, 235, 0.521);
}
#flexHead {
  box-sizing: border-box;
  position: fixed;
  /*z-index: 1;*/
  width: 100%;
  display: flex;
  padding-left: 1%;
  padding-right: 1%;
  justify-content: space-between;
  align-items: flex-end;
  background-image: radial-gradient(rgb(0, 106, 255, 0.5), rgb(0, 110, 255));
  padding-bottom: 1%;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#csvFiles {
  display: none;
}
#csvFilez{
  text-shadow: 1px 1px black;
}
#FlexInHead {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

Button {
  cursor: pointer;
}
Button:hover {
  
}
.button {
  cursor: copy;
  color: white;
  font-size:125%;
  font-weight: bold;
  text-align: center;
}
.button:hover {
  text-decoration: underline;
}
#ZEins {
  display: none;
  padding: 1%;
  border-radius: 10%;
  /*height: 10%;*/
  position: fixed;
  z-index: 1;
  left: 65%;
  top: 12%;
  /*background-color: rgba(0, 247, 255, 0.1); */
  background-color: rgba(0, 0, 0, 0.301);
  border: 1px solid white;
  
  /*width: 10%;  100% width */
  
  /*margin-top: 15px;*/
}
.SettingsContent {
  font-size: 150%;
  cursor: pointer;
  color: white;
}
.SettingsCheckbox {
  transform: scale(1.75);
  /*aspect-ratio: 1;*/
  /*ilter: invert(100%) hue-rotate(18deg) brightness(1.7);*/
  accent-color: rgb(2, 196, 255);
}
input[type="checkbox"] {
  cursor: pointer;
}
.square {
  /*font-size: 24px;*/
  /*font-weight: bold;*/
  /*text-align: center;*/
  flex-basis: 16.66666666%;
  width: 30px;
  height: 30px;
  border: 0px;
}
.gridall {
  float: left;
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 540px;
  /*height:auto;*/
  flex-wrap: wrap;
  border: 1px solid rgb(0, 0, 0);
  margin-left: 10px;
}
.wrapper {
  float: left;
  padding: 1%;
  width: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(177, 220, 255, 0.637));
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.274);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  display: flex;
  padding: 2%;
}
.gridall12 {
  float: left;
  display: flex;
  flex-direction: row;
  width: 180px;
  height: 360px;
  flex-wrap: wrap;
  border: 1px solid rgb(0, 0, 0);
  margin-left: 10px;
}
.wrapper12 {
  float: left;
  padding: 1%;
  width: 100%;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(177, 220, 255, 0.637));
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.274);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  display: flex;
  padding: 2%;
}
.hidden {
  display: none;
}
.resize {
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 100%;
  border: 1px solid white;
  border-radius: 5px;
  width:25px;
  height:25px;
  aspect-ratio: 1;
  background-color: rgba(236, 245, 255, 0.5);
  padding: 0;
  margin-bottom: 1%;
}
.resize:hover {
  text-decoration: none;
  border: 1px solid black;
}
#groesser {
  cursor: zoom-in;
}
#kleiner {
  cursor: zoom-out;
}
#fromTop {
  margin-top: 7.5%;
  width: 100%;
  display: flex;
  font-size: 120%;
}
#top {
  color: rgb(0, 0, 0, 0);
}
#chartOn {
  display: inline;
  /*width: 100%;*/
}

#rest {
  padding: 1.5%;
}
.vertFlex {
  float: left;
  padding: 1%;
  display: flex;
  flex-direction: column;
  /*border: 1px dashed;*/
}
#rechtsRand{
  margin-right: 1%;
}
#Block1 {
  width: 100%;
}
#progress {
  accent-color: rgb(255, 255, 255);
  width: 100%;
}
#anzeige {
  display: flex;
  flex-direction: row;
  width: 100%;
  /*justify-content: space-between;*/
  justify-content: space-around;
  /*border: 1px solid black;*/
}
.headButtons {
  font-size: 125%;
  color: white;
  border: 1px solid;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: none;
  background: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px black;
}
.headButtons:hover {
  text-decoration: underline;
}
#slider {
  accent-color: rgb(212, 99, 99);
  display:none;
}
.Slides {
  width: 100%;
  accent-color: rgb(240, 250, 95);
}
#FilterSlide {
  accent-color: rgb(241, 10, 241);
}
#FilterSlide:hover {
  accent-color: rgb(241, 10, 241);
}
.restButtons {
  border-radius: 20px;
  border: 0px;
  width: 100%;
  /*background-color: #23272A;*/
  background-color: white;
  color: black;
  font-size: 100%;
  height: fit-content;
  padding: 10px;
  font-family: Tahoma;
  font-weight: bold;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
}
.restButtons:hover {
  box-shadow: 0px 0px 10px rgb(1, 131, 253);
  color: rgb(0, 174, 255);
}
#stopButton{
  display:none;
}
#hideIfOne {
  display: none;
}
.NumIn {
  width: 35px;
}
#sliderOutput {
  text-align: center;
  display: none;
  margin-bottom: 0;
}
.SlideTitle {
  text-align: center;
  margin-bottom: 0;
}
#slideOutput {
  text-align: center;
  display:none;
  margin-top: 0;
}
.slideInfo {
  text-align: center;
  margin-top: 0;
}
#aufnahme{
  display: none;
}
#stepDownload {
  display: none;
}
#stepHeader{
  display: none;
  text-decoration: underline;
  margin-bottom: 	0;
}
#formAndDownload {
  display: none;
}
#formDone{
  width: 91%
}
#Forma {
  width: 110%;
  border-radius: 10px;

}
#ausklapp {
  padding: 3%;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.377);
  display: none;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 110%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 170%;
  box-shadow: 0px 0px 100px rgb(21, 1, 68);
}
i{
  text-shadow: 2px 2px black;
  font-weight: bold;
}
#StepZahl {
  display: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10%;
}
#StepAnzeige {
  margin-top: 0;
}
#progress {
  display:none;
}
#Dauer {
  margin-top: 10%;
  margin-bottom: 2%;
}
.info {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px black;
  font-weight: bold;
  text-align: center;
}
#FilterSett {
  display: none;
}
#ThreshConfirm {
  display: none;
}